{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
    Blog Posts
{% endblock %}

{% block content %}
    {% for blog in blogPagination %}
        <a href="{{ path("blogView", {"id" : blog.id}) }}">{{ blog.title }}</a><br>
    {% endfor %}


    {# display navigation #}
    <div class="pagination">
        {{ knp_pagination_render(blogPagination) }}
    </div>

{% endblock %}
